name: Test
on:
  pull_request:
  push:

concurrency:
  group: ci-test-${{ github.head_ref || github.ref }}-${{ github.repository }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      matrix:
        bundles:
          - calico
          - cert-manager
          - kubevirt
          - longhorn
          - metallb
          - multus
          - nginx
          - kairos
          - kyverno
          - system-upgrade-controller
          - "LocalAI"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: docker-practice/actions-setup-docker@master
      - run: ./earthly.sh --ci --push +test --BUNDLE=${{ matrix.bundles }}
